{{#if build.isFinished}}
  <div class="NavMenu-item">
  {{#if build.isApproved}}
    <p>
      Approved
      <span class="ApprovalSection-user">
        by {{user-name user=build.approvedBy}}
      </span>
    </p>
  {{/if}}
  </div>
  <div class="NavMenu-item">
    {{approval-button build=build}}
  </div>
{{/if}}
