{{#if build.isFinished}}
  <div class="NavMenu-item">
  {{#if build.isApproved}}
    <p>
      Approved by
      {{user-name user=build.approvedBy}}
    </p>
  {{/if}}
  </div>
  <div class="NavMenu-item">
    {{approval-button build=build}}
  </div>
{{/if}}
