<div class="container">
  <div class="Header Header-light Header--small Header--fixedTop">
    <img src="/images/percy-light.svg" class="Header-logo u-pull-left">
    <div class="NavMenu">
      <div class="NavMenu-item NavMenu-item-title">
        {{#link-to "organization" organization}}
          {{organization.name}}
        {{/link-to}}
        /
        {{#link-to "organization.project" organization project}}
          {{project.name}}
        {{/link-to}}
      </div>
    </div>
    <div class="NavMenu u-pull-right">
      <div class="NavMenu-item">
        {{approval-button}}
      </div>
    </div>
  </div>
  <div class="HeaderSpacer"></div>
</div>
