<div class="container">
  <div class="Header Header--dark Header--small Header--fixedTop">
    {{#link-to "index"}}
      {{#link-to "index"}}
        <img src="/images/percy.svg" class="Header-logo u-pull-left">
        <div class="Header-title u-pull-left u-hide-on-mobile">
          Percy
        </div>
      {{/link-to}}
    {{/link-to}}
    <div class="NavMenu">
      <div class="NavMenu-item NavMenu-item--left NavMenu-item-title">
        <span class="u-hide-on-mobile">
          {{#link-to "organization" organization}}{{organization.name}}{{/link-to}}
          /
        </span>
        {{#link-to "organization.project" organization project}}{{project.name}}{{/link-to}}
      </div>
      <div class="NavMenu-item">
        {{#if (gt build.numComparisonWidths 1)}}
          {{build-width-selector
            widths=build.comparisonWidths
            defaultSelectedWidth=defaultSelectedWidth
            updateSelectedWidth=(action updateSelectedWidth)
            noWidthSelected=noWidthSelected
          }}
        {{/if}}
      </div>
      <div class="NavMenu-item--right">
        {{approval-section build=build}}
      </div>
    </div>
  </div>
  <div class="HeaderSpacer"></div>
</div>
