.Form
  width: 100%

  input[type="text"],
  textarea,
    width: 100%

  input[type="checkbox"]
    float: left
    margin-top: 3px

  textarea
    height: 100px
    margin-bottom: 0

  .Form-errors
    color: $red
    margin-top: 0
    margin-bottom: 10px
    font-weight: bold
    list-style: none

    li
      margin-bottom: 0

select
  -webkit-appearance: none
  padding-right: 25px
  background-position: right center
  background-repeat: no-repeat
  // Source: https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/white/svg/caret-down.svg
  background-image: url("data:image/svg+xml;utf8,<svg width='28' height='20' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1408 704q0 26-19 45l-448 448q-19 19-45 19t-45-19l-448-448q-19-19-19-45t19-45 45-19h896q26 0 45 19t19 45z' fill='#666'/></svg>")
