.NavMenu
  .NavMenu-item
    display: inline-block
    float: left
    padding: 10px 17px

    a
      line-height: 4.3rem

  .NavMenu-item-title
    font-size: 16px

  .NavMenu-item--right
    float: right

  .NavMenu-item--left
    padding: 10px

  .NavMenu-avatar
    padding: 11px 11px
    float: right


@media (max-width: 750px)
  .NavMenu
    .NavMenu-item a
      padding: 10px 5px
