.SnapshotViewer {
  &.SnapshotViewer--actionable {
    cursor: pointer;

    &:hover .SnapshotViewer-header {
      border-color: var(--gray-200) !important;
    }
  }

  &.is-showing-controls {
    .snapshot-viewer-header-controls {
      opacity: 0;
    }

    &:hover {
      .snapshot-viewer-header-controls {
        opacity: 1;
      }
    }
  }
}

.SnapshotViewer-header {
  grid-template-columns: 1fr auto;
  top: -2px;
  transition: border-color 250ms;
}

.SnapshotViewer-header-full {
  grid-template-columns: 1fr auto 1fr;
}

.snapshot-viewer-header-controls {
  transition: opacity 250ms;
}

.maximize-snapshot {
  &:hover {
    path:first-child {
      transform: translate3d(1px, -1px, 0);
    }

    path:last-child {
      transform: translate3d(-1px, 1px, 0);
    }
  }
}

.minimize-snapshot {
  &:hover {
    path:first-child {
      transform: translate3d(1px, -1px, 0);
    }

    path:last-child {
      transform: translate3d(-1px, 1px, 0);
    }
  }
}
