.SnapshotViewer {
  &.SnapshotViewer--actionable {
    cursor: pointer;

    &:hover .SnapshotViewer-header {
      border-color: var(--gray-200) !important;
    }
  }
}

.SnapshotViewer-header {
  grid-template-columns: 1fr auto;
  top: -2px;
  transition: border-color 250ms;
}

.SnapshotViewer-header-full {
  position: fixed;
  width: 100vw;
  z-index: 1;
  grid-template-columns: 1fr auto 1fr;
}

.maximize-snapshot {
  &:hover {
    path:first-child {
      transform: translate3d(1px, -1px, 0);
    }

    path:last-child {
      transform: translate3d(-1px, 1px, 0);
    }
  }
}

.minimize-snapshot {
  &:hover {
    path:first-child {
      transform: translate3d(1px, -1px, 0);
    }

    path:last-child {
      transform: translate3d(-1px, 1px, 0);
    }
  }
}
