.SnapshotList
  padding: 0 15px 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .Alert
    width: 100%

  .SnapshotViewer
    @include transition('0.15s ease-out')
    transition-property: width

  &.SnapshotList--1col
    .SnapshotViewer
      width: 100%
  &.SnapshotList--2col
    .SnapshotViewer
      width: 50%
  &.SnapshotList--3col
    .SnapshotViewer
      width: 33.2%
  &.SnapshotList--4col
    .SnapshotViewer
      width: 24.5%

      .SnapshotViewer-snapshotMissing
        .fa
          font-size: 5rem
  &.SnapshotList--5col
    .SnapshotViewer
      width: 20%
  .HideNoDiffsPanel
    @include Card
    @include Card--linkable
    @include Card--expando
    margin-bottom: 10px
    padding: 15px
    text-align: center
    width: 100%

    &:hover span
      color: $default-link-hover

    span
      color: $default-link
